<template id="buscador-template">
    <div class="main-buttons">
        <input type="text" id="buscador" placeholder="Que desea Hoy??">
        <button id="btn-buscador">Buscar Servicios</button>
        <button id="btn-filtrar-actividades">Filtrar Actividades</button>
        <button id="btn-filtrar-comercios">Filtrar Comercios</button>
        <button id="btn-mostrar-todos">Todos</button>
        <button id="btn-crear-servicio" type="button">Crear Servicio</button>
    </div>

    <!-- 🚀 FORMULARIO PARA CREAR SERVICIOS -->
    

</template>

